.container {
    background-color: #0F4C75;
    width: 60%;
    height: 40%;
    border-radius: 5px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.logo {
    padding-top: 1rem;
    padding-left: 2rem;;
}

.inputContainer {
    display: flex;
    flex-direction: row;
}

.singleDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.singleDiv label {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.singleDiv input:disabled {
    border-radius: 5px;
    border-color: #3282B8;
    background-color: #3282B8;
    width: 78%;
    color: whitesmoke;
    font-size: large;
    margin-left: 1rem;
    height: 1.8rem;
}

.centered {
    margin: 3rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

